html, body {
  height:100%;
  min-height:100%;
  background-color: #F6B242;
}

nav {
  height: 20%;
  background-color: white;
}

/* FORM STYLING */

input, textarea {
    color: black;
    text-align: center;
    border: 0;
    border-radius: 5px;
    padding: 9px;
    font: normal 20px/100% Verdana, Tahoma, sans-serif;
    background: rgba(255,255,255,0.8);
    }

#login {
    width: 250px;
    background: #4A90E2;
    color: #FFFFFF;
}

a {
  display: block;
  text-decoration: none;
  font: normal 18px/100% Verdana, Tahoma, sans-serif;
  color: #4A90E2;
  margin-top: 10px;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url('/images/color_logo_v02.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.container h1 {
  font-size: 17pt;
}

#account_management {
    border-radius: 5px;
    width: 350px;
    height: 250px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#account_management_center {
  text-align: center;
  padding: 40px;
}


nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

#sign-out input {
  border:none;
