%p Welcome to COLORME!
#account_management
  #login
    %form{:action => "/", :method => "post"}
      %input{:type => "email", :name => "email", :placeholder => "Username"}
      %input{:type => "password", :name => "password", :placeholder => "Password"}
      %input{:type => "submit", :value => "Login"}
  #create_account
