%h1 Welcome to ColorMe

%h2 Please log in!
%form{:id => "sign-in", :action => "/users/login", :method => "post"}
  %input{:type => "email", :name => "email", :placeholder => "Email"}
  %input{:type => "password", :name => "password", :placeholder => "Password"}
  %input{:type => "submit", :value => "Login"}
