%h1 Create Account
%p= ("#" + ("%06x" % (rand * 0xffffff)))
%form{:id => "sign-up", :action => "/users/new", :method => "post"}
  %input{:type => "text", :name => "color", :placeholder => "Color"}
  %input{:type => "email", :name => "email", :placeholder => "Email"}
  %input{:type => "password", :name => "password", :placeholder => "Password"}
  %input{:type => "submit", :value => "Sign Up"}
