- @splashes.each do |splash|
  .splash
    .splash-text{:style => "background-color: #{splash.user.color}" }
      %a{:id => "#{splash.user.id}", :href => "/users/follow", :method => "post"}Follow
      %a{:href => "/users/#{splash.user_id}"}
        =splash.content