!!!

%form{:id => "new-splash", :action => "/users/splash/new", :method => "post"}
  %input{:type => "text", :name => "content", :placeholder => "splash"}
  %input{:type => "submit", :value => "splash!"}

%h3 #{current_user.id}

- @splashes.each do |splash|
  .splash
    .splash-text{:style => "background-color: #{splash.user.color}" }
      %a=splash.content




/{:style => "background-color: #{User.(splash.user_id).color}"}
/ -if current_user.splashes.any?
/   %ul
/     -@splash_contents.each do |content|
/       %li
/         =content
/ -else
/   %h1 your splashes here!
